* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width : 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #ffe5e5;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    gap: 20px;
    max-eidth: 500px;
    margin: 20px;
}

 .container .tenor-gif-embed{
   max-width: 200px;

 }
 .container .btn{
      display: flex;
      gap: 25px;
      font-weigth: 700;
}

 .btn a  {
        text-decoration: none;
        color:rgb(236, 230, 230) ;
        background:#5a2a3c;
        padding: 10px 25px;
        border-radius:8px;
        box-shadow: 0.5rem 1rem 3rem hsla(0, 0%, 0%, 0.3);
        font-weigth: 700;
      


    }

    .hearts {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* clicks still work */
        overflow: hidden;
    }
    
    .hearts span {
        position: absolute;
        bottom: -20px;
        font-size: 22px;
        animation: floatUp 6s linear infinite;
        opacity: 0;
    }
    
    /* different speeds */
    .hearts span:nth-child(1) { animation-delay: 0s; }
    .hearts span:nth-child(2) { animation-delay: 1s; }
    .hearts span:nth-child(3) { animation-delay: 2s; }
    .hearts span:nth-child(4) { animation-delay: 3s; }
    .hearts span:nth-child(5) { animation-delay: 4s; }
    
    @keyframes floatUp {
        0% {
            transform: translateY(0);
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        100% {
            transform: translateY(-120vh);
            opacity: 0;
        }
    }
    h1 {

        color:#5a2a3c;
        font-weight: 600;
    
    }
